
a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

#previous, #about, #projects, #contact {
    border-color: white;
}

#previous:hover, #about:hover, #projects:hover, #contact:hover {
    border-radius: 4px;
    border-color: black;
}

.dropdown-item, .dropdown-link {
    color: black;
    text-decoration: none;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-link:hover {
    background-color: white;
    color:black;
    font-weight: bold;
}